*{
  padding: 0px;
    box-sizing: border-box;
}
body {
  background: #007991; 
  background: -webkit-linear-gradient(to right, #007991, #78ffd6);
  background: linear-gradient(to right, #007991, #78ffd6);
  background-repeat: no-repeat;
  font-family: Helvetica, sans-serif;
}    


.container {
  margin-top: 150px;
  height: 100vh;
}

.headerFondo {
  background: linear-gradient(to right, #007991, #78ffd6);
}


.box {
    display: inline-block;
    border-radius: 10px;
    width: 600px;
    height:200px;
    background: linear-gradient(to left, #4cb8c4, #3cd3ad);
}

.hIndex {
    color: bisque;
    margin: 20px;

}

.hProyecto {
  color: bisque;
  text-align: center;
}

.p1 {
    margin-left: 20px;
    color:white;


}

.parrafoProyecto {
  text-align: center;

}

.instagram {
    height: 28px;
    width: 28px;

}

.linkedin {
    height: 28px;
    width: 28px;
}

.links {
    margin-left: 20px;
}

.mcr {
    height: 400px;
    object-fit: contain;
}



@media (max-width: 680px) {
    .box {
    width: 250px;
    height:320px;
    margin-left: 70px;
    }

}



/* CONTACTO */

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button .formP{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}