body {
    background: linear-gradient(to right, #4cb8c4, #3cd3ad); 
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
}    

.container {
    margin-top: 150px;
    height: 100vh;
}

.navbar-nav.navbar-center {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.box {
    display: inline-block;
    border-radius: 10px;
    width: 600px;
    height:200px;
    background: linear-gradient(to left, #4cb8c4, #3cd3ad);
}

/* .michi {
} */

h1 {
    color: bisque;
    margin: 20px;

}

p {
    margin-left: 20px;
    color:white;

}


.instagram {
    height: 28px;
    width: 28px;

}

.linkedin {
    height: 28px;
    width: 28px;
}

.links {
    margin-left: 20px;
}

footer {
    padding: 5px;
    margin-left: 20px;
}


