body {
    background: linear-gradient(to right, #4cb8c4, #3cd3ad); 
    background-repeat: no-repeat;
    font-family: Helvetica, sans-serif;
}    

.container {
    margin-top: 150px;
    height: 100vh;
}

.navbar-nav.navbar-center {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.box {
    display: inline-block;
    border-radius: 10px;
    width: 600px;
    height:200px;
    background: linear-gradient(to left, #4cb8c4, #3cd3ad);
}

h1 {
    color: bisque;
    margin: 20px;

}

.p1 {
    margin-left: 20px;
    color:white;


}

footer {
    padding: 5px;
    margin-left: 20px;
}

.instagram {
    height: 28px;
    width: 28px;

}

.linkedin {
    height: 28px;
    width: 28px;
}

.links {
    margin-left: 20px;
}


@media (max-width: 600px) {
    .box {
    width: 210px;
    height:450px;
    margin-left: 70px;
    }
}

@media (min-width: 601px) {
    .box {
        width: 500px;
    }
}


@media (min-width: 1049px) {
    .box {
        width: 600px;
    height:200px;
    }
}
